# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.pkl

# Django migrations
migrations/

# Media and static files
/media
/staticfiles

# Local environment
.env
*.env
.env.*
*.local

# Docker
*.env.docker
.dockerignore
docker-compose*.yml
*.pid

# Testing
coverage/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Other
*.log
*.bak
*.tmp
*.py~
identifier.sqlite